.textCentered {
    align-items: center;
    display: flex;
    

}

.brandMargin {
    margin-left: 0;
    
}

/* .paddingLeft {
    margin-left:40px;
} */

.shoppingCart {
    display: flex;
    justify-content: flex-end;
}



.container{
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
   }