.textCentered {
    align-items: center;
    display: flex;
    

}

.logoMargin {
    margin-left: 10px;
    
}

/* .paddingLeft {
    margin-left:40px;
} */

.shoppingCart {
    display: flex;
    justify-content: flex-end;
    
    
}

.centerCart {
    display: flex;
    align-items: center;
    color: #F7F0E5
}

.navbarBackground {
    background-color: #988157;
}

.navbarTextColor {
    color: #F7F0E5

}

.dropdown-toggle::after {
    display: none !important; 
  }


