.textCentered {
    align-items: center;
    display: flex;
    

}

.logoMargin {
    margin-left: 10px;
    
}

/* .paddingLeft {
    margin-left:40px;
} */

.shoppingCart {
    display: flex;
    justify-content: flex-end;
    
    
}

.centerCart {
    display: flex;
    align-items: center;
}



